nav.navbar.navbar-inverse.navbar-fixed-top
  .container
    .navbar-header
      button.navbar-toggle(type="button",data-toggle="collapse",data-target=".navbar-ex1-collapse")
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href="#") 在线竞拍
    .collapse.navbar-collapse.navbar-ex1-collapse
      ul.nav.navbar-nav
        li
          a(href="#") 关于我们
        li
          a(href="#") 联系我们
        li
          a(href="#") 网站地图